/app/tests export-ignore
/logs expore-ignore
/app/.gitignore export-ignore
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
RESTdoc.txt export-ignore
slider*.sql.gz export-ignore
slider.sublime-project export-ignore
phpunit.xml export-ignore
connection.php export-ignore
