/* HTML element tags go here */
body {
	background-color: #ccc;
	margin: 0;
	font-family: Roboto, sans-serif;
	/*width: 640px;
	height: 480px;*/
}


h1 {
	padding:	.25em;
	margin:		0;
}

ul {
	margin: 	0;
	padding:	0;
}

fieldset {
	border-radius:	.45em;
}



*:focus {
	outline:	none;		/* Webkit automatically adds outlines to items in focus; disable it */
}


/* Class styles go here */
.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}


input {
	padding: 10px;
  	/*border: solid 1px #fff;*/
  	/*box-shadow: inset 1px 1px 2px 0 #707070;*/
  	/*transition: box-shadow 0.3s;*/
}

input:focus {
	box-shadow: 	inset 1px 1px 2px 0 #c9c9c9;
	padding-right:	10px;
}

.close_button {
	float:	right;
	width:	2em;
	height:	2em;
	cursor:	pointer;
}

.debug {
	background-color:	#FFB6C1;
	border:				1px solid red;
	border-radius:		5px;
	color: 				red;
}