@CHARSET "UTF-8";
/*********************************************/
/************* TABLE OF CONTENTS *************/
/*********************************************/
/*  1. GLOBAL STYLES                         */
/*  2. SLIDESHOW STYLES                      */
/*                                           */
/*********************************************/


/*********************/
/*  1. GLOBAL STYLES */
/*********************/

body {
  margin: 0;
}


/*************************/
/*  2. SLIDESHOW STYLES  */
/*************************/

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
}


/* Slideshow images */
.mySlides > .slideImg {
  width:  100%;
  height: 100%;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}